/* DEBUG */
[class*="col-"] {
    min-height: 20px;
    background-color: lightgrey;
}

/* COMMONS */
body {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

h1 {
    font-size: ;
}
h2 {
    font-size: ;
    color: #000000;
}
h3 {
    font-size: ;
}
p {
    font-size: ;
}

img {
    height: ;
}
.img_icon {
    height: ;
}

.button {

}

.star {

}

.color_green {
    color: #1abc9c;
}
.color_blue {
    color: #2c3e50;
}

.background_green {
    background-color: #1abc9c;
}
.background_blue {
    background-color: #2c3e50;
}
.background_lightblue {
    background-color: #3a546d;
}

/* HEADER */


/* MAIN */


/* FOOTER */

@media screen and (min-width: 768px)  {
    


}

@media screen and (min-width: 1200px) {



}