/* COMMONS */
body {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}
section {
    text-align: center;
}
main section {
    padding-bottom: 35px;
}
footer section {
    padding: 30px 0;
}

.position_relative {
    position: relative;
}

.list_inline {
    list-style: none;
    padding: 0;
}
.list_inline li {
    display: inline-block;
    margin: 0 2.5px;
}

h1 {
    text-transform: uppercase;
    font-weight: 700;
}
h2 {
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 700;
    padding-top: 20px;
    color: #000000;
}
h3 {
    text-transform: uppercase;
    font-size: 18px;
}
h4 {
    text-transform: uppercase;
    font-size: 16px;
}
h6 {
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}
p {
    font-size: 16px;
}
a {
    text-decoration: none;
    color: #ffffff;
    transition: color .3s;
}
a:hover {
    text-decoration: none;
    color: #9bbddd;
}

input {
    display: block;
    width: 100%;
    border-width: 0;
    background-color: #00000000;
}
button {
    border-width: 0;
    background-color: #00000000;
}
.button {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: #1abc9c;
    transition: background-color .3s;
}
.button:hover {
    background-color: #12816b;
}
.button .fas.fa-download {
    margin-right: 5px;
}

.star {
    vertical-align: middle;
    font-size: 25px;
}
.star hr {
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    border-radius: 5px;
    background-color: #ffffff;
}
.star .fas.fa-star {
    padding: 0 6px;
}
.star_small {
    vertical-align: middle;
    font-size: 25px;
}
.star_small hr {
    display: inline-block;
    vertical-align: -13px;
    width: 35px;
    height: 3px;
    border-radius: 5px;
    background-color: #ffffff;
}
.star_small .fas.fa-star {
    padding-left: 6px;
    letter-spacing: -7px;
}

.img_main {
    width: 100%;
    border-radius: 10px;
    margin: 13px 0;
}
.img_social {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ffffff;
    transition: color .3s;
    transition: background-color .3s;
}
.img_social:hover {
    background-color: #2c3e50;
}

.color_blue {
    color: #2c3e50;
}

.background_green {
    background-color: #1abc9c;
}
.background_blue {
    background-color: #2c3e50;
}
.background_lightblue {
    background-color: #3a546d;
}

/* HEADER */
#navigation .navbar {
    min-height: 80px;
}
#navigation [class*="col-"] {
    min-height: 80px;
}
#navigation a {
    text-transform: uppercase;
    line-height: 80px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
}

#jumbotron {
    text-align: center;
    min-height: calc(100vh - 79px);
    padding: 40px 0;
    margin-top: 81px;
}
#jumbotron img {
    height: 250px;
}

/* MAIN */
#portfolio hr {
    border-color: #2c3e50;
    background-color: #2c3e50;
}

#about h2 {
    text-align: center;
    color: #ffffff;
}
#about p {
    text-align: left;
    padding: 10px 0 20px 0;
}
#about .button {
    margin-top: 10px;
}

#contact hr {
    border-color: #2c3e50;
    background-color: #2c3e50;
}
#contact .data {
    text-align: left;
    padding-top: 20px;
}
#contact input {
    padding: 0;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 10px;
}
#contact input[type="textarea"] {
    padding-bottom: 100px;
}
#contact .fas.fa-expand-alt{
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotate(90deg);
    font-size: 10px;
    color: #1abc9c;
    cursor: pointer;
}

/* FOOTER */
#social [class*="col-"] {
    margin: 10px 0;
}
#social #color_green {
    color: #1abc9c;
    transition: color .3s;
}
#social #color_green:hover {
    color: #12816b;
}

#copyright span {
    font-size: 11px;
}

@media screen and (min-width: 768px)  {

    /* COMMONS */
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 45px;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 20px;
    }
    h6 {
        font-size: 18px;
    }
    p {
        font-size: 18px;
    }

    .button {
        font-size: 17px;
        padding: 8px 13px;
        border-radius: 5px;
    }

    .star hr {
        width: 120px;
    }

    .star_small {
        font-size: 28px;
    }
    .star_small hr {
        vertical-align: middle;
        width: 120px;
    }
    .star_small .fas.fa-star {
        padding: 0 10px;
        letter-spacing: unset;
    }

    /* HEADER */
    #jumbotron {
        min-height: unset;
    }

}