form {
    margin-left: 50px;
    margin-top: 50px;
}
.position_relative {
    position: relative;
}

.ms_button.btn-default {
    color: #ffffff;
    background-color: #1abc9c;
    border-color: #ffffff;
    transition: color .3s;
    transition: background-color .3s;
}
input.ms_button.btn-default:hover {
    color: #ffffff;
    background-color: #12816b;
    border-color: #ffffff;
}


#contact .form-control {
    color: #000000;
    background-color: #ffffff;
    border: none;
    border-bottom: 1px solid #cccccc;
    border-radius: unset;
    -webkit-box-shadow: unset;
}
#contact label {
    font-weight: 400;
}