#navigation.navbar {
    min-height: 80px;
    font-weight: 700;
    border-color: #ffffff;
    background-color: #2c3e50;
}
#navigation.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgba(0, 0, 0, 0);
}
#navigation.navbar-default .navbar-toggle {
    border-color: #1abc9c;
}
#navigation.navbar-default .navbar-toggle .icon-bar {
    background-color: #1abc9c;
}
#navigation.navbar-default .navbar-collapse {
    border-top: 1px solid #1abc9c;
}
#navigation .navbar-header {
    min-height: 80px;
}
#navigation .navbar-toggle {
    margin-top: 19px;
    margin-bottom: 19px;
}
#navigation .navbar-toggle.collapsed {
    margin-top: 19px;
    margin-bottom: 19px;
}
#navigation .navbar-brand {
    font-size: 20px;
}
#navigation a {
    font-size: 18px;
    line-height: 80px;
    color: #ffffff;
    padding-top: 0;
    padding-bottom: 0;
}
#navigation a:hover:not(.navbar-brand) {
    color: #1abc9c;
}